@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-weight: 300;
    min-height: 100%;
}

body {
    min-height: 100vh;
}

#app {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem;

    font-weight: 300;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    #app {
        width: 95vw;
        max-width: 1280px;
        padding: 2rem;
    }

    body {
        display: flex;
        place-items: center;
    }
}

.dp__input_wrap input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

select {
    border: 1px solid #ddd;
    outline: none !important;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

select:hover,
select:focus {
    border: 1px solid #aaaeb7;
}

.dark body {
    background-image: linear-gradient(90deg, #13234d 0%, #12171e 100%);
}

.dark select {
    border: 1px solid #212640;
}

.dark select:hover,
.dark select:focus {
    border: 1px solid #aaaeb7;
}

.dp__theme_dark {
    --dp-background-color: #1e223b;
    --dp-text-color: #ffffff;
    --dp-hover-color: #2a2f50;
    --dp-hover-text-color: #ffffff;
    --dp-hover-icon-color: #959595;
    --dp-primary-color: #005cb2;
    --dp-primary-text-color: #ffffff;
    --dp-secondary-color: #a9a9a9;
    --dp-border-color: #1e223b;
    --dp-menu-border-color: #364254;
    --dp-border-color-hover: #aaaeb7;
    --dp-disabled-color: #737373;
    --dp-scroll-bar-background: #1e223b;
    --dp-scroll-bar-color: #2a2f50;
    --dp-success-color: #538be7;
    --dp-success-color-disabled: #284878;
    --dp-icon-color: #959595;
    --dp-danger-color: #e53935;
}

.dark .dark-night {
    background-color: #1e223b;
}

progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.075);
}

progress[value]::-webkit-progress-value {
    background-size: 100%;
    background-image: -webkit-linear-gradient(-135deg, #09c 0%, #295599 100%);
}

.spinner {
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
}

.spinner:after {
    content: " ";
    display: block;
    width: 3rem;
    height: 3rem;
    margin: auto;
    border-radius: 50%;
    border: 0.2rem solid #255b9d;
    border-color: #255b9d transparent #255b9d transparent;
    animation: spinner 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(60deg);
    }
    66% {
        transform: rotate(300deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fly {
    100% {
        transform: rotate(1turn) translate(100px) rotate(-1turn);
    }
}

@keyframes flyPlus {
    100% {
        transform: rotate(-1turn) translate(100px) rotate(1turn);
    }
}

.aurora-wrapper {
    position: fixed;
    z-index: 100;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.aurora {
    position: absolute;
    filter: blur(60px);
    opacity: 0.8;
    mix-blend-mode: color-dodge;
}

.one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: #373372;
    left: -50px;
    top: -300px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
}

.two {
    width: 90vh;
    height: 120vh;
    background-color: #661755;
    opacity: 0.5;
    left: -20vh;
    border-radius: 60%;
    filter: blur(200px);
}

.three {
    border-radius: 100%;
    width: 100vh;
    height: 100vh;
    bottom: -50vw;
    right: -50vh;
    opacity: 0.6;
    background-color: #0b38a5;
    animation: flyPlus 8s linear infinite;
    transform: rotate(0) translate(100px) rotate(0);
}

.four {
    border-radius: 100%;
    width: 160vh;
    height: 160vh;
    bottom: -50vw;
    right: -50vh;
    opacity: 0.3;
    background-color: #111c36;
    animation: flyPlus 8s linear infinite;
    transform: rotate(60deg) translate(300px) rotate(0);
}
